body{
    background-color: #f0efed;
}
.header{
    display: flex;
    background: #FFBD00;
}
.header .city{
    width: 90px;
    height: 51px;
    text-align: center;
    line-height: 51px;
}
.header .mine{
    width: 48px;
    height: 51px;
}
.mine-img{
    width: .56rem;
    height: .56rem;
    margin: 12px 12px;
}
.header .search-box{
    flex: 1;
    font-size: .26rem;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border-radius: .18rem;
    background: #ffff;
    opacity: 0.9;
    height: .64rem;
    line-height: .64rem;
    margin-top: .2rem;
    color: #999999;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.search-img{
    width: 0.28rem;
    height: 0.28rem;
    padding: 0.14rem 0.13rem 0.16rem 0.27rem;
} 
.search-box img{
    vertical-align: middle;
}
.banner{
    display: flex;
    background: #000;
    height: 1.04rem;
}
.banner .logo{
    height: 36px;
    width: 36px;
    margin: 0.16rem 0.2rem 0.16rem 0.3rem;
}
.banner .btn{
    width: 55px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: .14rem;
    color: #000;
    background: #ffd000;
    margin: 0.22rem 0.29rem 0 0;
}
.banner .text-box{
    flex: 1;
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0.14rem 0 0 0;
}
.text-box p:nth-child(1){
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: .26rem;
}
.text-box p:nth-child(2){
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: .22rem;
    font-weight: 300;
}
.list-box{
    display: flex;
    flex-wrap: wrap;
    background: #fff;
}
.list-box .list{
    height: 61px;
    width: 20%;
    background: #ff00;
    margin: .2rem 0;
}
.list .iconfont{
    display: block;
    font-size: .5rem;
    color: #fff;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    text-align: center;
    line-height: .8rem;
    margin: auto;
    margin-bottom: .14rem;
}
.list .icon-canju{
    background: #fd9d21;
}
.list p{
    text-align: center;
    font-size: .24rem;
}
.pro-list-box{
    background: #fff;
    margin-top: .3rem;
}
.pro-list{
    display: flex;
    padding: .28rem .28rem;
    border-top: 1px solid #DDD8CE;
}
.pro-list img{
    width: 1.8rem;
    height: 1.64rem;
    margin-right: .3rem;
}
.pro-info h3{
    padding-top: .06rem;
    font-size: .3rem;
    font-weight: 400;
    color: #333;
}
.pro-info .info1{
    font-size: .24rem;
    height: .68rem;
    color: #666;
}
.info2 .number{
    font-size: .36rem;
    color: #F60;
}
.info2 .yuan{
    font-size: .24rem;
    font-weight: 300;
}
.info2 .price{
    font-size: .24rem;
    font-weight: 200;
    margin-left: .1rem;
}